<table >
	<tr>
		<td class="eWebEditor1" valign="top">
		<form >
		  <div class="form-group has-feedback" style="margin-bottom: 10px;">
		    <label>标 &nbsp;&nbsp; 题：</label>
		    <input type="text" style="width: 480px;" not-null="yes" ng-model="form.TITLE" class="form-control" />
		  </div>
		  
		  <div class="form-group has-feedback" style="margin-bottom: 10px;">
		    <label>副标题：</label>
		    <input type="text" style="width: 640px;" not-null="yes" ng-model="form.SUBTITLE" class="form-control" />
		    <label style="color:red;">（微信通知的内容）</label>
		  </div>
		  
		  <div class="form-group has-feedback" style="margin-bottom: 10px;">
		    <label>作 &nbsp;&nbsp; 者：</label>
		    <input type="text" style="width: 180px;" ng-model="form.NEWS_AUTHOR" class="form-control" />
		  </div>
		</form>

		</td>
	</tr>
	<tr>
		<td valign="top">
		<INPUT type="hidden" name="content1" value="">
		<IFRAME ID="eWebEditor1" width="850" height="650" src="http://portal.sjedu.cn/ewebeditor/ewebeditor.htm?id=content1&style=coolblue" frameborder="0" scrolling="no" ></IFRAME>
		</td>
	</tr>
</table>
  

