<div class="panel panel-default">
  <div class="panel-body">

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="dyjh active my" ><a ng-click="selectMy()" >我的答疑解惑</a></li>
    <li class="dyjh class"><a ng-click="selectClass()" >班内答疑解惑</a></li>
    <li class="dyjh school"><a ng-click="selectSchool()" >校内答疑解惑</a></li>
    <li class="dyjh all"><a ng-click="selectAll()" >区内答疑解惑</a></li>
    <li class="dyjh review"><a ng-click="selectReview()" >答疑解惑审核</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" ><div app-part src="appPartSrc" random="true"></div></div>
  </div>

</div> 


  </div>
</div>  