<form class="form-inline" style="margin: 15px;">

	<div class="form-group">
		<label class=""> &nbsp; 评测列表：</label> 
		<select class="form-control" ng-model="form.EXAMID"  ng-options="Examinfo.EXAMID as Examinfo.EXAMNAME for Examinfo in ExamList" ng-click="examListChange()">
			<option  value="">--请选择--</option>
		</select>
	</div>

<!-- 	<div class="form-group">
		<label class=""> &nbsp; 科目：</label> 
		<select class="form-control" ng-model="form.FK_COURSE" ng-options="Courseinfo.FK_COURSE as Courseinfo.COURSENAME for Courseinfo in CourseList">
			<option  value="">--请选择--</option>
		</select>
	</div> -->
	
	<div class="form-group">
		<label class=""> &nbsp; 班级：</label> 
		<select class="form-control" ng-model="form.FK_CLASS" ng-options="class.FK_CLASS as class.CLASSNAME for class in classList">
			<option  value="">--请选择--</option>
		</select>
	</div>
 
  <button type="button" class="btn btn-default" ng-click="select()">
  	<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询 
  </button>
   
</form>
		

			 <div class="panel panel-info" style="margin: 15px 20px">
     		 <!-- Table -->
				 <table class="table table-hover table-striped table-bordered ">  
				      <thead>
				        <tr>
				         <th style="width: 50px;">选择</th>
				          <th column="SCHOOL" class="sorting" ng-click="order($event.target)">学校</th>
				          <th column="GRADECLASS" class="sorting" ng-click="order($event.target)">班级</th>
				          <th column="EXAMSTUNAME" class="sorting" ng-click="order($event.target)">姓名</th>
				          <!-- <th column="EXAMINEENUMBER" class="sorting" ng-click="order($event.target)">考号</th> -->
				          <th ng-repeat='courseinfo in scoreSums'>{{courseinfo.SCORESUMNAME }}</th>
				          <th column="SUMSCORE" class="sorting" ng-click="order($event.target)">总分</th>
			        </tr>
				      </thead>
				      <tbody ng-switch on="page.current_num">
				      	<tr ng-switch-when="0">
				      		<td colspan="100" class="NoSelectHistory">查询无记录</td>
				      	</tr>
				        <tr ng-repeat='data in dataList'>
				         <td>
					       <input type="checkbox" name="dataPk" value="{{data.SCHOOLEXAMID}}">
		                 </td>
		                 <td>{{data.SCHOOL}}</td>
				         <td>{{data.GRADECLASS}}</td>
		                 <td>{{data.EXAMSTUNAME}}</td>
		                 <!-- <td>{{data.EXAMINEENUMBER}}</td> -->
				         <td ng-repeat='score in data.scores'>
				         	<div ng-if="score.number">
				         		{{score.number}}（{{score.value }}）
				         	</div>
				         </td>
		                 <td>{{data.SUMSCORE}}</td>
				        </tr>
				      </tbody>
				      <tfoot>
				      	<tr>
				      		<td colspan="100">
				      		<div ng-include="'html/page.html'"></div>
							</td>
				      	</tr>
				      </tfoot>
				    </table>
    		</div>
