<div class="progress progress1" style="">
  <div class="progress-bar" id="progressbar1" role="progressbar" aria-valuenow="120" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
  </div>
</div>


<table class="table" >
	<thead>
		<tr>
			<th ng-repeat="column in columnList" style="word-break: keep-all;white-space:nowrap;">
				{{column.NORM_NAME}}
			</th>
		</tr>
	</thead>
	<tboday >
		<tr ng-repeat="row in rowList">
			<td style="word-break: keep-all;white-space:nowrap;">{{row.STUDENT_XM}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.0}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.1}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.2}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.3}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.4}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.5}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.6}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.7}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.8}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.9}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.10}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.11}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.12}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.13}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.14}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.15}}</td>
			<!-- <td style="text-align:center;vertical-align:middle;">{{row.16}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.17}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.18}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.19}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.20}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.21}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.22}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.23}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.24}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.25}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.26}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.27}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.28}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.29}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.30}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.31}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.32}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.33}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.34}}</td>
			<td style="text-align:center;vertical-align:middle;">{{row.35}}</td> -->
		</tr>
		
	</tboday>
</table>

